.bioScroll::-webkit-scrollbar-track
{
	background-color: transparent;
	border-radius: 10px;
}

.bioScroll::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.bioScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D8D8D8;
}
