.home-body{
    background-image: url("../images/home.jpg"); 
    background-color: #cccccc; 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }